In [1]:
import pandas as pd

In [2]:
import numpy as np

In [4]:
pd_nan = pd.Series([1, np.nan, 2, np.nan, 3, np.nan, 4, np.nan, 5])
pd_nan

0    1.0
1    NaN
2    2.0
3    NaN
4    3.0
5    NaN
6    4.0
7    NaN
8    5.0
dtype: float64

In [5]:
# pd.dropna
pd_nan.dropna()

0    1.0
2    2.0
4    3.0
6    4.0
8    5.0
dtype: float64

In [6]:
# pd.fillna
pd_nan.fillna(0)

0    1.0
1    0.0
2    2.0
3    0.0
4    3.0
5    0.0
6    4.0
7    0.0
8    5.0
dtype: float64

In [7]:
pd_nan.fillna(pd_nan.mean())

0    1.0
1    3.0
2    2.0
3    3.0
4    3.0
5    3.0
6    4.0
7    3.0
8    5.0
dtype: float64