In [4]:
import pandas as pd
import numpy as np
se2 = pd.Series(np.arange(10) * 9)
se2.sort_index(ascending=False)

9    81
8    72
7    63
6    54
5    45
4    36
3    27
2    18
1     9
0     0
dtype: int64

In [5]:
se5 = se2 * 2
se6 = se2 * 2

In [7]:
df_se = pd.DataFrame({
    '7단': se2,
    '8단': se5,
    '9단': se6,
})
df_se.sort_index(axis=1, ascending=False)

    9단   8단  7단
0    0    0   0
1   18   18   9
2   36   36  18
3   54   54  27
4   72   72  36
5   90   90  45
6  108  108  54
7  126  126  63
8  144  144  72
9  162  162  81