In [3]:
import pandas as pd
pd_series = pd.Series(range(16)) * 2

In [4]:
pd_series

0      0
1      2
2      4
3      6
4      8
5     10
6     12
7     14
8     16
9     18
10    20
11    22
12    24
13    26
14    28
15    30
dtype: int64

In [5]:
pd_series.index = pd_series.values

In [6]:
pd_series

0      0
2      2
4      4
6      6
8      8
10    10
12    12
14    14
16    16
18    18
20    20
22    22
24    24
26    26
28    28
30    30
dtype: int64

In [9]:
pd_series[pd_series%4 == 0] = None

In [10]:
pd_series

0      NaN
2      2.0
4      NaN
6      6.0
8      NaN
10    10.0
12     NaN
14    14.0
16     NaN
18    18.0
20     NaN
22    22.0
24     NaN
26    26.0
28     NaN
30    30.0
dtype: float64

In [11]:
pd_series[pd_series.isnull()]

0    NaN
4    NaN
8    NaN
12   NaN
16   NaN
20   NaN
24   NaN
28   NaN
dtype: float64

In [12]:
pd_series[pd_series.notnull()]

2      2.0
6      6.0
10    10.0
14    14.0
18    18.0
22    22.0
26    26.0
30    30.0
dtype: float64